html,body{
    height: 100%;
}
#app{
    height: 100%;
}
.classHeader{
    height: 100%;
}
.am-tab-bar{
    height: auto;
    position: absolute;left: 0;bottom:0;right: 0;
}
.constent{
    padding: 10px;
}
