<header data-v-350514bc="" id="topbar" class="header">
    <div data-v-350514bc="" class="header-content">
        <!---->
        <!---->
    </div>
    <div data-v-60df7298="" data-v-350514bc="" class="wrap-heard">
        <div data-v-60df7298="" data-v-350514bc="" class="header-Ico"></div> <a data-v-60df7298="" data-v-350514bc=""
            href="#/all"><span data-v-60df7298="" data-v-350514bc="" class="head-typeimg"></span></a>
    </div>
    <div data-v-60df7298="" title="分类导航条" class="wrap-menuNavNewProduct" data-v-350514bc="">
        <div id="navPanelDiv" class="menuNavNewProductPanel">
            <ul id="navUL" class="menuNavNewProduct" style="width: 720px;">
                <li class="font-large selected"><a>首页</a></li>
                <!---->
                <li class="font-large"><a>新品</a></li>
                <!---->
                <li class="font-large"><a>家务</a></li>
                <!---->
                <li class="font-large"><a>下厨</a></li>
                <!---->
                <li class="font-large"><a>生活</a></li>
                <!---->
                <li class="font-large"><a>家居服</a></li>
                <!---->
                <li class="font-large"><a>床品</a></li>
                <!---->
                <li class="font-large"><a>洗漱沐浴</a></li>
                <!---->
                <!---->
                <li class="font-large"><a>了解LifeVC</a></li>
            </ul>
        </div>
    </div>
</header>