.wrapHeard{
    width: auto;
    height: 48px;
    background: #89be48;
}
.headerIco {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../image/yinghua3.jpg) no-repeat, linear-gradient(rgb(247, 247, 247), rgb(247, 247, 247)); ;
    background-size: 50%;
    background-position: 50%;
}
.headTypeimg {
    width: 44PX;
    height: 44PX;
    display: block;
    float: right;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    background-size: 45%;
    background-image: url(../image/ICON.png);
    background-repeat: no-repeat;
    background-position: 50%;
}